.main-wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 20rem;
}

.main-container {
  display: flex;
  height: 100%;
}

.main-content-background {
  display: flex;
  color: var(--thirdiary-color);
  flex-direction: column;
  justify-content: flex-start;
  font-size: 25rem;
  font-weight: 700;
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
}

.main-content-background span:last-child {
  align-self: flex-end;
}

.main-content {
  width: 50%;
}

.main-content-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 3rem;
}

.lamp-wrapper {
  position: relative;
}

.lamp-img {
  object-fit: scale-down;
  height: 30rem;
  margin-bottom: 12rem;
}

.lamp-light {
  content: "";
  width: 10rem;
  height: 16rem;
  bottom: -1.6rem;
  left: 1.7rem;
  opacity: 0.3;
  background: linear-gradient(0.25turn, #ffffff83, #ffffff, #ffffff, #ffffff83);
  position: absolute;
}

.main-content-text h1 {
  font-size: 4rem;
}

.toggle-container {
  margin-top: 3rem;
}

.text-info {
  display: flex;
  margin-top: 4rem;
  width: 100%;
}

.text-info p {
  font-size: 1.2rem;
  width: 50%;
}

.text-info p:first-child {
  margin-right: 2rem;
  width: 50%;
}

.main-content-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8rem;
  position: relative;
  min-height: 59rem;
}

.main-content-wrapper-img {
  animation: moveUpnDown 4s infinite 2s alternate;
}

.main-content-wrapper-img img {
  object-fit: none;
  width: 20rem;
  height: 35rem;
  animation: increasingNDecreasing 4s infinite 2s alternate;
}

.main-content-wrapper-img img:last-child {
  animation: increasingNDecreasing 4s infinite 4s alternate;
}

.main-content-mobile-shadow {
  background: #63686c;
  background: -webkit-radial-gradient(center, #63686c, #dcdcdc);
  background: -moz-radial-gradient(center, #63686c, #dcdcdc);
  background: radial-gradient(ellipse at center, #63686c, #dcdcdc);
  opacity: 0.1;
  width: 100%;
  height: 4rem;
  border-radius: 6rem;
}

@keyframes increasingNDecreasing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.95);
  }
}

@keyframes moveUpnDown {
  0% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@media screen and (max-width: 1016px) {
  .main-container {
    flex-direction: column;
  }

  .main-content {
    width: 100%;
  }

  .main-content-img {
    align-items: center;
  }

  .main-content-wrapper-img {
    width: fit-content;
  }
}
