.mobile-app-content {
  display: flex;
  height: 50rem;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 6rem;
}

.mobile-app-text {
  display: flex;
  flex-direction: column;
  width: 45%;
  color: #ffffff;
  font-weight: 700;
  justify-content: center;
}

.mobile-app-title {
  font-size: 7rem;
}

.mobile-app-description {
  font-size: 2rem;
  margin-top: 3rem;
}
