.home-content {
  display: flex;
  flex-direction: column;
}

.home-content section {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-content-visible {
  opacity: 1;
  animation: fadeIn 5s forwards;
}
