html,
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #141414;
  --secundary-color: #f1f3f2;
  --thirdiary-color: #ffffff;
  --fourtiary-color: #b5b6b5;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  background-color: var(--secundary-color);
}

.margin-content {
  margin: 0 auto;
  width: 80%;
}
