.card-content {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 40rem;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 16rem;
}

.card-content-img {
  height: 80%;
  object-fit: cover;
}

.card-content-text {
  padding-top: 2rem;
  height: 20%;
  color: #000000;
  font-weight: 600;
  font-size: 2rem;
}
